<!DOCTYPE html>
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<title>Car Dealer | All Listings</title>
	
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<link rel="shortcut" href="images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" media="screen" />
	<link rel="stylesheet" href="css/skeleton.css" media="screen" />
	<link rel="stylesheet" href="fancybox/jquery.fancybox.css" media="screen" />

	<!-- HTML5 Shiv + detect touch events -->
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"> </script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/project/common.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body class="menu-1 h-style-1 text-1"  ng-app="lyyApp" ng-controller="IndexController">

<div class="wrap">
	
	<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->	
	
	<header id="header" class="clearfix">
		
		<a href="index.html" id="logo"><img src="images/logo.png" alt="Car Dealer" /></a>
		
		<nav id="navigation" class="navigation">

			<ul>
				<li><a href="index.html">主页</a></li>
				<li class="current-menu-item"><a href="all-listings.html">汽车天下</a></li>
				<li><a href="alternative-blog.html">汽车新闻</a></li>
				<li><a href="sales-reps.html">销售代表</a></li>
				<li><a href="contact.html">关于我们</a></li>
			</ul>
			
		</nav><!--/ #navigation-->
		
	</header><!--/ #header-->
	
	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->	
	
	
	<div class="main">

		<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	

		<section class="container sbl clearfix">

			<!-- - - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->		

			<section id="content" class="twelve columns"  ng-controller="carsController">
				
				<div class="recent-list-cars">
					
					<h3 class="widget-title"><span>汽车天下</span></h3>
				
					<ul class="recent-list-cars clearfix">

						<li  ng-repeat="car in carsbanner">
							<a href="one-products.html?id={{car.id}}">
								<img src="{{car.img}}" alt="" />
							</a>

							<a href="one-products.html?id={{car.id}}" class="list-meta">
								<h6 class="title-list-item">{{car.name}}</h6>
							</a>

							<div class="detailed">
								<span class="cost">{{car.price}}</span>
							</div><!--/ .detailed-->

							<a href="one-products.html?id={{car.id}}" class="button orange">详情</a>
							<!--<label class="compare"><input type="checkbox" />Compare</label>-->

						</li>

					</ul><!--/ .recent-list-cars-->					
					
				</div><!--/ .recent-list-cars-->
				
				<div class="wp-pagenavi clearfix" >
					
					<span class="pages">Page {{pageInfo.currPage}} of {{pageInfo.pages}}</span>
					<a class="prevpostslink"  ng-click="querypage(1)"  href="#"></a>
					<a ng-repeat="num in pagenum" class="{{num.class}}"  ng-click="querypageclick($event)" href="#" >{{num.num}}</a>
					<a class="nextpostslink" href="#" ng-click="querypageclick($event)"></a>
					
				</div><!--/ .wp-pagenavi-->

			</section><!--/ #content-->

			<!-- - - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - - -->	


			<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->	

			<aside id="sidebar" class="four columns" ng-include="'html/sidebar.html'">
				
				

			</aside><!--/ #sidebar-->

			<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->

		</section><!--/.container -->

		<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->			
		
	</div><!--/ .main-->

	
	<!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->	
	
	<footer id="footer" class="container clearfix"   ng-include="'html/footer.html'">
		
	</footer><!--/ #footer-->
	
	<!-- - - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - - -->		
	
</div><!--/ .wrap-->

<script src="js/jquery-1.7.2.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<!--[if lt IE 9]>
	<script src="js/selectivizr-and-extra-selectors.min.js"></script>
<![endif]-->

<script src="js/jquery.gmap.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
